<div *ngIf="vehicle" class="card vehicle-detail mt-4">
  <div class="card-header">
      <h2 class="card-title">Detalle del Vehiculo:</h2>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6">
              <p><b>ID:</b> {{ vehicle.id }}</p>
              <p><b>PLACA:</b> {{ vehicle.plate }}</p>
              <p><b>MARCA:</b> {{ vehicle.brand  }}</p>
          </div>
          <div class="col-md-6">
              <p><b>MODELO:</b> {{ vehicle.model }}</p>
              <p><b>DESCRIPCION:</b> {{ vehicle.description}}</p>
              <p><b>AÑO:</b> {{ vehicle.year }}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <p><b>CAPACIDAD:</b> {{ vehicle.capacity }}</p>
          </div>
          <div class="col-md-6">
              <p><b>Activo:</b> {{ vehicle.active ? 'Sí' : 'No' }}</p>
          </div>
      </div>
  </div>
  <div class="card-footer text-right">
      <button class="btn btn-info mr-2" (click)="editvehicle(vehicle.id)">Editar</button>
      <button class="btn btn-danger" (click)="deletevehicle(vehicle.id)">Eliminar</button>
  </div>
</div>
<div *ngIf="!vehicle" class="alert alert-info mt-4">
  Cargando detalles...
</div>
