.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/img/full-screen-image-3.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  